/* 
    Document   : style.css
    Created on : Jan 21, 2013, 11:10:13 PM
    Author     : viettrang
    Description:
        Purpose of the stylesheet follows.
*/

* { 
    padding: 0;
    margin: 0;
}
body {
    font-family: arial;
    background-color: #F6F6F6;
    color: #5E5E5E;
    font-size: 12px;
}
a {
    text-decoration: none;
}

.fltlft, .fltleft { float: left; }
.fltrgt, .fltright { float: right; }
#main-container {                        
    padding: 0;
}
.main-content {
    width: 960px;
    margin: auto;
    line-height: 18px;
    padding-bottom: 15px;
}

#main-header {
	width: 960px;
	margin: auto;
    height: 106px;
}

#main-header .logo {
	background: url("../images/logo.png") bottom left no-repeat;
	width: 194px;
	height: 81px;
	padding-bottom: 10px;
	float: left;
}

#main-header .logo a {
	display: block; width: 194px; height: 91px;
}
	
#main-header .right {
	float: right;
	color: #00659B;
	padding-top: 15px;
}
#main-header .right a {
	display: inline;
	color: #00659B;
	padding-right: 5px;
	padding-left: 5px;
}

#main-header .right form { margin-top: 30px; }
#main-header .right div { text-align: right; }
#main-header .right input {
	background: #E3E3E3;
	border: none;
	color: #555555;
	height: 30px;
	text-indent: 5px;
	width: 425px;
	float: left;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#main-header .right button.btn-logout { background: none; border: none; }

#main-header .right div a.icon-fb { background: url(../images/icon-fb.png) no-repeat; padding-left: 20px;}

#main-header .btn-search { background: url(../images/btn-search.png) no-repeat; width: 37px; height: 30px; border: none; float: lef; cursor: pointer; }
.menu-container {
	width: 100%;
    background: url("../images/bg-main-menu.png") repeat-x;	
    height: 40px;   
}
ul#main-menu {
    width: 960px;
	margin: auto;
    padding: 0;
}
ul#main-menu li {
   list-style: none;
   line-height: 40px;
   display: inline;
}
ul#main-menu li a {    
    float: left;
    padding: 0 20px;
    color: #ffffff;
    text-align: center;
    display: block;
    font-weight: bold;
    height: 40px;
}
ul#main-menu li a:hover {
    background: url("../images/bg-main-menu-hover.png") repeat-x;
}
#top-adv {
    width: 100%;
    margin: 0 auto;
}
#top-adv img {
    padding: 10px 0;
}
#right-content {
    width: 295px;
    margin-left: 15px;
    float: right;
}
#left-content {
    width: 650px;
    float: left;
    background: #F5F5F5;
}
.register {
    background: url("../images/reg-bg.png") repeat-x;
    width: 100%;
    height: 59px;
    color: #fff;
    line-height: 59px;
    font-weight: bold;
    font-size: 14px;
	border-radius: 5px;
	position: relative;
}
.icon-reg {
    width: 51px;
    height: 40px;
    background: url("../images/icon-reg.png") top left no-repeat;
	position: absolute;
	top: 10px;
	left: 30px;
}

.txt-register { margin-left: 100px; }

.promotion-content {
    margin-top: 15px;
    background-color: #fff;
}
.promotion-bar {
    background: url("../images/promotion-bar.png");
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-indent: 50px;
    color: #656565;
    font-weight: bold;
	font-size: 15px;
}
.promotion-item {
    border-bottom: 1px #DBDBDB dashed;
    padding: 15px;
}
.promotion-item .title, .tour-content .title {
    color: #006699;
    font-weight: bold;
}
.promotion-item a {
     color: #006699;
}
.promotion-item .description {
}
.promotion-item img {
    float: left;
    padding-right: 10px;
    width: 80px;
}

.promotion-content .discover-featured img {
	width: 260px;
	margin-bottom: 10px;
}

.promotion-item .date {
    font-style: italic;
}
.title-category {
    background: url("../images/category-background.jpg") repeat-x;
    border: 1px solid #E5E5E5;
    font-size: 22px;
    height: 39px;
    line-height: 39px;
    text-indent: 10px;
    font-weight: bold;
}
.tour-container {    
    border: 1px solid #E6E6E6;
    border-top: 1px solid #fff;
	padding: 10px 0 10px 11px;
}
.tour-content {
    padding-right: 11px;
    float: left;
    width: 200px;
    padding-bottom: 10px;
}
.tour-content .img-block {
    width: 198px;
    height: 150px;
    padding-bottom: 0px;
	overflow: hidden;
	border: 1px solid #CCC;
	margin-bottom: 5px;
}
.tour-content .img-block img {    
    border: 1px solid #D6DAD9;
}
.tour-content .title {
    color: #006699;
    font-weight: bold;
    text-indent: 5px;
	float: left;
	width: 200px;
}
.tour-content .info {
    text-indent: 5px;
	height: 17px;
	width: 200px;
	overflow: hidden;
}

.tour-content .info span {  }
#footer {
    width: 100%;
    background: #fff;
}
.main-footer {
    width: 940px;
    margin: auto;
    padding: 10px;
}
.main-footer .tab {
    width: 296px;
    float: left;
    padding-right: 20px;
}
.main-footer .tab .title {
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #B9B9B9;
}
.main-footer .tab .list-content {
   line-height: 24px;
   padding: 10px 0;
   color: #000;
}
.main-footer .tab .list-content a {
    text-indent: 10px;
    color: #01669A;
    display: block;
}
.clear, .clr {
    clear: both;
}
.debug {
    border: 1px solid red;
}
.uppercase {
    text-transform: uppercase;
}
.margin-bottom5 {
    padding-bottom: 8px;
}
#bottom {
	background: #f6f6f6;
	width: 100%;
	color: #555555;
}
.display-all {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.separate-bottom {
	background: #18a622;
	height: 5px;
	margin: 10px 0;
}
ul#menu-bottom {
	padding: 5px 0 10px 0;
	display: block;
	width: 960px;
	margin: auto;
}
.menu-bottom-containter {
	margin: auto;
	border-bottom: 1px solid #d8d8d8;
}
ul#menu-bottom li {
	display: inline;
	padding: 0 15px;
}
ul#menu-bottom li a {
	color: #0b8a14;
	font-weight: bold;
}
#copyright-info {
	width: 960px;
	margin: auto;
	padding: 10px 0;
}
.copyright-text {
	padding-left: 20px;
	line-height: 20px;
	float: left;
	padding-bottom: 10px;
}
.bottom-logo {
	float: right;
	background: url("../images/logo.png") bottom left no-repeat;
	width: 194px;
	height: 81px;
}

.pagination { margin: auto; text-align: center; }
.pagination ul { list-style: none; display: inline-block; }
.pagination ul li { float: left; background: #FFF; border-radius: 3px; margin-right: 5px; padding: 3px 10px; cursor: pointer; }
.pagination ul li.active { cursor: default; background: #CCC; color: #FFF; }

input.invalid { border: 1px #FF0000 solid; }

div.show-custom-field { width: 650px; margin-bottom: 10px; }

ul.custom-field { margin: 0; margin: 10px 0; padding: 0; list-style: none; }
ul.custom-field li { float: left; width: 210px; margin-right: 5px; }
ul.custom-field li h1 { font-size: 16px; margin: 10px 0;  }

ul.custom-field ul { margin-left: 30px; margin-bottom: 10px; }
ul.custom-field ul li { padding: 2px 0; }

p.custom-field-title { border-bottom: 1px solid #E5E5E5; font-size: 20px; font-weight: bold; padding-bottom: 10px; }

.location-album { background: #FFF; border-radius: 3px; border: 1px solid #CCC; margin-bottom: 20px; width: 624px; height: 453px; padding: 15px 12px; }
.location-album h1 { font-size: 18px; margin-bottom: 5px; }